@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* -------------- Generic ---------------- */
* {
  margin: 0;
  padding: 0;
}

i {
  /* Remove selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

select {
  /* Size */
  width: auto;
  height: 25px;
  /* Position */
  margin: 10px;
  padding: 5px;
  /* Style */
  border: 2px solid rgb(80, 80, 80);
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 20px;
  color: rgb(80, 80, 80);
  /* Remove blue bord */
  box-shadow: 0 0 0 0;
  outline: 0;
}

select:focus {
  /* Style */
  border: 2px solid rgb(0, 0, 0);
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

input {
  /* Size */
  width: 30%;
  height: 30px;
  /* Position */
  margin-top: 10px;
  padding: 5px;
  /* Style */
  border: 2px solid rgb(80, 80, 80);
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 20px;
  color: rgb(80, 80, 80);
  /* Remove blue bord */
  box-shadow: 0 0 0 0;
  outline: 0;
  /* Transition */
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

input:focus {
  /* Size */
  width: 95%;
  height: 30px;
  /* Position */
  /* Style */
  border: 2px solid rgb(0, 0, 0);
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

button {
  /* Size */
  width: 95%;
  height: 45px;
  /* Position */
  margin-top: 10px;
  padding: 5px;
  /* Style */
  border: 2px solid rgb(80, 80, 80);
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 20px;
  color: rgb(80, 80, 80);
  /* Remove blue bord */
  box-shadow: 0 0 0 0;
  outline: 0;
}

button:hover {
  /* Style */
  border: 2px solid rgb(0, 0, 0);
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

button:focus {
  /* Style */
  border: 2px solid rgb(255, 255, 255);
  background-color: black;
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/* body */
.bone {
  /* Size */
  width: 950px;
  height: auto;
  /* Position */
  margin: 50px auto;
  /* Flex */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

body {
  /* Style */
  background-color: black;
  scroll-behavior: smooth;
}

/* -------------- Label ---------------- */
a {
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

h1 {
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 70px;
  margin: 5px;
  color: rgb(255, 255, 255);
}

h2 {
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin: 20px;
}

h3 {
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin: 20px;
}

h4 {
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 20px;
}

/* -------------- Header ---------------- */
header {
  /* Size */
  width: 100%;
  height: 600px;
  /* Flex */
  display: flex;
  flex-direction: column;
}

/* Nav Bar */
.nav-bar {
  /* Position */
  display: flex;
  flex-direction: row;
  /* Transition */
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

ul {
  /* Position */
  display: flex;
  flex-direction: row;
  justify-content: start;
}

li {
  display: flex;
  flex-direction: column;
  margin-right: 45px;
  justify-content: start;
}

li a {
  /* Position */
  display: inline;
  text-decoration: none;
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
  border-bottom: 3px solid rgb(0, 0, 0);
  /* Remove selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

li a:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}

li a.active {
  border-bottom: 3px solid rgb(255, 255, 255);
}

/* Info */
.info {
  /* Size */
  width: 100%;
  height: 35px;
  /* Flex */
  display: flex;
  justify-content: flex-end;
  /* Color */
  background-color: white;
  /* Remove selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* Transition */
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.info h3 {
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 20px;
  color: rgb(80, 80, 80);
  /* Position */
  margin-top: 3px;
  margin-right: 15%;
}

.info a {
  /* Font Style */
  font-family: "Teko", sans-serif;
  font-size: 20px;
  color: rgb(80, 80, 80);
  /* Position */
  margin-top: 3px;
  margin-right: 10%;
}

.info-header {
  position: fixed;
  top: 0px;
}

/* Logo */
.logo {
  /* Size */
  width: 100%;
  height: 340px;
  /* Flex */
  display: flex;
  justify-content: center;
  background-color: black;
  /* Remove selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.logo h1 {
  /* Position */
  margin-top: 100px;
  /* Transition */
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.logo-img {
  /* Size */
  width: 150px;
  height: 150px;
  /* Transition */
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

/* Register Area */
.socialclub-register-area {
  /* Size */
  width: 100%;
  height: 500px;  /* Style */
  background-color: black;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  /* Position */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Transition */
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.socialclub-register-area img{
  /* Size */
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  
  /* Transition */
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}


.division {
  /* Style */
  background-color: rgba(0, 0, 0, 0.822);
  /* Size */
  width: 40%;
  height: 100%;
}

.register {
  /* Size */
  width: 100%;
  /* Position */
  display: flex;
  flex-direction: row;
}

.bloc {
  /* Size */
  width: 100%;
  /* Position */
  display: flex;
  flex-direction: column;
}

.textfield {
  /* Size */
  width: 85%;
  height: 30px;
}

/* -------------- Article ---------------- */
article {
  /* Size */
  width: 100%;
  height: 600px;
  /* Flex */
  display: flex;
  flex-direction: column;
}

/* Article body */
.article-body {
  /* Size */
  width: 100%;
  /* Position */
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

/* Article Cont */
.article-cont {
  /* Size */
  width: 100%;
  /* Position */
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: start;
}

/* Gallery */
.gallery-bar {
  /* Size */
  width: 100%;
  /* Position */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery {
  /* Size */
  width: 250px;
  /* Position */
  margin: 5px;
  float: left;
  /* Remove selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.gallery img {
  /* Size */
  width: 100%;
  height: auto;
  border-radius: 2%;
}

.desc {
  /* Position */
  padding: 15px;
  text-align: center;
}

/* Card */
.card-bar {
  /* Size */
  width: 100%;
  /* Position */
  display: flex;
  justify-content: space-between;
}

.card {
  /* Size */
  width: 100%;
  /* Position */
}

.card img {
  /* Size */
  width: 150px;
  height: 150px;
  /* Style */
  border-radius: 100%;
}

.card {
  /* Position */
  text-align: center;
}

.card div {
  /* Style */
  border: 1px solid;
}

.social-card img {
  width: 100px;
  height: 100px;
}

.desc {
  /* Style */
  background: rgb(66, 66, 66);
}

.buy {
  /* Style */
  background: #ccc;
  border: 0em;
  border-color: black;
  select: none;
}

.buy h4 {
  /* Style */
  color: rgb(0, 0, 0);
}

.buy:hover {
  /* Style */
  background: rgb(255, 255, 255);
}

/*---------------Footer---------------*/
.base {
  /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.foot {
  /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link {
  /* Style */
  text-decoration: none;
}

footer {
  /* Size */
  width: 100%;
  height: 600px;
  /* Flex */
  display: flex;
  flex-direction: column;
}

/* Responsividade */

@media screen and (min-width: 0px) and (max-width: 800px) {
  .bone {
    /* Size */
    width: 450px;
    height: auto;
    /* Position */
    margin: 50px auto;
    /* Flex */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  header {
    /* Size */
    width: 100%;
    height: auto;
    /* Flex */
    display: flex;
    flex-direction: column;
  }

  h3 {
    /* Font Style */
    font-family: "Teko", sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin: 15px;
  }

  a {
    /* Font Style */
    font-family: "Teko", sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }

  /* Article body */
  .article-body {
    /* Size */
    width: 100%;
    /* Position */
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .article-cont {
    /* Size */
    width: 100%;
    /* Position */
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    justify-content: start;
  }

  .nav-bar {
    /* Position */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Transition */
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }

  ul {
    /* Position */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li a {
    /* Position */
    display: inline;
    text-decoration: none;
    /* Font Style */
    font-family: "Teko", sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(0, 0, 0);
    /* Remove selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  li a:hover {
    border-bottom: 3px solid rgb(255, 255, 255);
  }

  li a.active {
    border-bottom: 3px solid rgb(255, 255, 255);
  }

  /* Logo */
  .logo {
    /* Size */
    width: 100%;
    height: auto;
    /* Flex */
    display: flex;
    flex-direction: row;
    flex-direction: center;
    background-color: black;
    /* Remove selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .logo-img {
    /* Size */
    width: 150px;
    height: 150px;
    /* Transition */
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }

  /* Info */
  .info {
    /* Size */
    width: 100%;
    height: 35px;
    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Color */
    background-color: white;
    /* Remove selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* Transition */
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }

  .info h3 {
    /* Font Style */
    font-family: "Teko", sans-serif;
    font-size: 20px;
    color: rgb(80, 80, 80);
    /* Position */
    margin-top: 3px;
    margin-left: 20%;
  }

  .info-header {
    position: fixed;
    top: 0px;
  }

  /* Register Area */
  .socialclub-register-area {
    /* Size */
    width: 95%;
    height: auto;
    /* Style */
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    /* Position */
    display: flex;
    justify-content: flex-end;
    /* Transition */
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }

  .division {
    /* Style */
    background-color: rgba(0, 0, 0, 0.822);
    /* Size */
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  /* Gallery */
  .gallery-bar {
    /* Size */
    width: 100%;
    /* Position */
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
  }

  .gallery {
    /* Size */
    width: 95%;
    /* Position */
    margin-top: 10px;
    margin-left: 0px;
    float: left;
    /* Remove selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  /* Card */
  .card-bar {
    /* Size */
    width: 95%;
    /* Position */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .card {
    /* Size */
    width: 100%;
    /* Position */
    margin-top: 20px;
  }

  .card img {
    /* Size */
    width: 100px;
    height: 100px;
    /* Style */
    border-radius: 100%;
  }

  .base {
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .foot {
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
