body{
    /* Style */
    background-color: #545454;
}

.logo{
    /* Size */
    width: 100%;
    height: 340px;
    /* Flex */
    display: flex;
    justify-content: center; 
    background-color: #545454;
    /* Remove selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

li a{
    /* Position */
    display: inline;
    text-decoration:none; 
    /* Font Style */
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid  #545454;
    /* Remove selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.info h3{
    /* Font Style */
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    color: #545454;
    /* Position */
    margin-top: 3px;
    margin-right: 15%;

}

.socialclub-register-area{
    /* Size */
    width: 100%;
    height: 800px;
    /* Style */
    background-image: url('../../images/GuitarFX.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    /* Position */
    display: flex;
    justify-content: flex-start;
    /* Transition */
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.social-card img{
    width: 100px;
    height: 100px;
    border-color: #545454;
}

.buy h4{
    /* Style */
    color: #545454;
}
